---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyBAZQjKWktP89K0MvBoVDxj6RA43Hk39Uw&maxResults=1&part=snippet&q=Mexico
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "BnLktvsM3x2_rIJISxmuAkitqB8",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 49,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "2WrdBxTvt4AzmNP4-75PaCXdGN8",
              "id": {
                "kind": "youtube#video",
                "videoId": "ZgrdcffPDDA"
              },
              "snippet": {
                "publishedAt": "2022-02-03T05:52:39Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Mexico",
                "description": "Sources: Mexico: A Concise Illustrated History (2020) by John W. Sherman. Rowman & Littlefield, Lanham, Maryland.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/ZgrdcffPDDA/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/ZgrdcffPDDA/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/ZgrdcffPDDA/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2022-02-03T05:52:39Z"
              }
            }
          ]
        }
  recorded_at: Tue, 17 Jan 2023 01:39:19 GMT
recorded_with: VCR 6.1.0
